
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=root xterm
Comment=
Categories=Application;
Exec=sudo su -
Icon=xfce-terminal
Terminal=true
StartupNotify=false
